---
title: Relevant Experiences
layout: page
permalink: /relevant-experiences
---

<h2> Sample Work Link </h2>
<a href="https://drive.google.com/drive/folders/1M8yjs8LRZoCtK6hw4lE4xrqKtX0GYZWe?usp=drive_link"> <img src = "https://cdn4.iconfinder.com/data/icons/small-n-flat/24/folder-blue-512.png" 
    alt ="Folder Clipart" width="200" height="300"></a>

<h2> Work Experience </h2>
{% for work-experience in site.work-experiences %}
    <!---DO SOMETHING-->
    <h3>{{ work-experience.title }}</h3>
    <p>{{ work-experience.content }}</p>
{% endfor %}

<h2> Course Experience </h2>
{% for course-experience in site.course-experiences %}
    <!---DO SOMETHING-->
    <h3>{{ course-experience.title }}</h3>
    <p>{{ course-experience.content }}</p>
{% endfor %}
